.content {
  background-color: #fff;
  width: 88%;
  margin: auto;
  display: flex;
}

.categories {
  font-size: 2rem;
  line-height: 1.7rem;
  width: 17%;
}

.slide {
  width: 83%;
  cursor: pointer;
}

.category:hover,
.category:active {
  background-color: #ccc;
  color: orangered;
}

.category {
  font-family: Roboto-Regular, Helvetica Neue, Helvetica, Tahoma, Arial,
    sans-serif !important;
  color: #757575;
  cursor: pointer;
  padding-left: 1rem;
  padding-top: 1rem;
}

.image {
  width: 100%;
  height: 85%;
}
