.flashSale {
  background-color: #fff;
}
/* ---------------------------------------- */
/* TIME */
/* ---------------------------------------- */
.time {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.onSale {
  padding-left: 3rem;
  color: #f57224;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin: auto 0 auto 0;
}

.timeCount {
  padding-right: 50rem;
  justify-items: flex-start;
  display: flex;
  gap: 0.7rem;
}

.showSale {
  margin: auto 0 auto 0;
  padding-right: 3rem;
}

.timeCount div {
  font-size: 1.6rem;
  margin: auto;
}

.timeCount div:nth-child(1) {
  color: #424242;
}

.timeCount div:nth-child(even) {
  background-color: #d3232a;
  color: white;
  padding: 1rem;
}

.showSale button {
  background-color: #fff;
  border: 1px solid #f57224;
  color: #f57224;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* ---------------------------------------- */
/* PRODUCT */
/* ---------------------------------------- */

.productSale {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 2px 4px 9px 5px rgba(0, 0, 0, 0.33);
}

.imageProduct {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.titleSale {
  font-size: 1.4rem;
  padding: 1rem;
}

.newPrice {
  color: #f57224;
  font-size: 2rem;
  padding: 0 1rem;
  margin-top: -0.9rem;
}

.decrease {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  font-size: 2rem;
}

.oldPrice {
  color: #9e9e9e;
  text-decoration: line-through;
}
